body {
  background-color: #eaecef;
  color: #202124;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: #ea3113;
}

.name {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 2.5em;
}

@media screen and (min-width: 600px) {
  .name {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 4em;
  }
}

@media screen and (min-width: 992px) {
  .name {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 5em;
  }
}

.title {
  text-align: center;
  margin: 0;
  font-size: 0.9em;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.5em;
  }
}

.tasks {
  margin: 2em auto;
  padding-left: 4em;
  font-size: 0.9em;
  width: 70vw;
}

@media screen and (min-width: 600px) {
  .tasks {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .tasks {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 992px) {
  .tasks {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1200px) {
  .tasks {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  .tasks {
    width: 22em;
  }
}

@media screen and (min-width: 768px) {
  .tasks {
    width: 22em;
  }
}

@media screen and (min-width: 992px) {
  .tasks {
    width: 22em;
  }
}

@media screen and (min-width: 1200px) {
  .tasks {
    width: 25em;
  }
}

.tasks ul {
  list-style-type: none;
}

.tasks ul li {
  margin: 1em 0;
}

.tasks ul li span {
  display: inline-block;
  vertical-align: middle;
}

.tasks ul li:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  margin: 0 1em 0 -2.5em;
  width: 1em;
}

@media screen and (min-width: 600px) {
  .tasks ul li:before {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .tasks ul li:before {
    font-size: 2em;
  }
}

@media screen and (min-width: 992px) {
  .tasks ul li:before {
    font-size: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .tasks ul li:before {
    font-size: 2em;
  }
}

.tasks ul li.pqc:before {
  content: "\f577";
}

.tasks ul li.drug:before {
  content: "\f484";
}

.tasks ul li.honors:before {
  content: "\f19d";
}

.tasks ul li.gkm:before {
  content: "\f5cb";
}

.tasks ul li.dna:before {
  content: "\f471";
}

.tasks ul li.leja:before {
  content: "\f141";
}

.tasks ul li.eye:before {
  content: "\f06e";
}

.tasks ul li.rocket:before {
  content: "\f135";
}

.tasks ul li.lock:before {
  content: "\f13e";
}

.tasks ul li.rover:before {
  content: "\f63c";
}

.tasks ul li.hack:before {
  content: "\f233";
}

.tasks ul li.flag:before {
  content: "\f024";
}

.footer {
  font-size: 0.9em;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .footer {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=styles.css.map */